#app {
    vertical-align: middle;
    text-align: center;
}

.arm-switch-container label {
    font-size: 2em;
}

.text-left {
    text-align: left;
}

.tooltip {
    color: white !important;
}

.margin-vertical-1 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.card-container {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
